---
interface Props {
    id: number;
    name: string;
    type: string;
    dimension: string;
    url: string;
}

const { id, name, type, dimension, url } = Astro.props;
---

<article id=`id${id}` class="m-3 bg-slate-300 flex flex-col text-center border-amber-600 rounded-lg">
    <img class="pt-5 pl-5 pr-5" src={url} alt={name} />
    <h1 class="text-2xl font-bold">{name}</h1>
    <p>Type: {type}</p>
    <p>Dimension: {dimension}</p>
</article>